@font-face {
    font-family: "JosefinSlab Bold";
    src: url('fonts/JosefinSlab-Bold.ttf');
}

@font-face {
    font-family: "JosefinSlab Regular";
    src: url('fonts/JosefinSlab-Regular.ttf');
}

@font-face {
    src: url('fonts/Poppins-Light.ttf');
    font-family: "Poppins Light";
}

@font-face {
    src: url('fonts/Poppins-LightItalic.ttf');
    font-family: "Poppins Light Italic";
}

@font-face {
    src: url('fonts/Poppins-SemiBold.ttf');
    font-family: "Poppins Semi Bold";
}

body {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

.title {
    /* color: rgba(0,0,0,0.92); */
    color:rgba(245, 245, 247, 0.7);
    text-align: center;
    font-family: 'JosefinSlab Bold', Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
    text-align: center;
    font-family: 'JosefinSlab Bold', Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

.text {
    text-transform: uppercase;

}

.sidebar {
    background-color: #333333; 
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
 
.sidebar-item {
    font-family: 'Poppins Light', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 17px;
    left: 5px;
    top: 5px;
    padding: 4px 40px;
}

.link {
    position: relative;
    color:rgba(245,245,247,0.7);
    text-decoration: none;
  
}

.link:hover {
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    color: rgb(245, 245, 247);
 
}
  
.section-link {
    position: relative;
    color: rgba(0,0,0,0.92);
    text-decoration: none;
     
}  
   
.section-link:hover {
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    color: rgba(245,245,247,0.7);
}

.main {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Poppins Light', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 20px;
    color: rgba(0,0,0,0.92);
}

header {
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}
  
.foot {
    font-family: 'Poppins Light', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    /* background-color: #f7d0ab; */
    font-size: 1rem;
    color: rgba(245,245,247,0.7);
    padding: 20px;
    text-align: center;
}

.img-wrapper {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px; 
    float: right;
}


section {
    background: rgba(245,245,247,0.7);
    /* border-radius: 3px;
    border-left: 5px solid rgba(7, 7, 7, 0.699); */
    margin: 30px 0;
    padding: 30px;
}

.paragraph {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    
}

.section-one {
    display: flex;
    justify-content: space-around;
}